# 데이터 전처리 방법 실습

In [2]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## 데이터 로딩 및 df 만들기

In [3]:
df = pd.read_csv("./datas_ml/Data.csv")

In [4]:
# 온라인 소핑목 고객 데이터라고 가정, 이 소핑목에서 물건을 구매했으면, Purchased 가 yes
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [5]:
df['Purchased'].value_counts()

Purchased
No     5
Yes    5
Name: count, dtype: int64

In [6]:
df.columns

Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')

## 결측치(NaN)처리

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 452.0+ bytes

In [8]:
df.isna().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

# 결측치 처리 방법
- 삭제 혹은 채우기

### 삭제하기

In [9]:
# 삭제 NaN이 포함된 행(row)를 삭제
df.dropna()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
5   France  35.0  58000.0       Yes
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

### 채우기 전략
- 0, 평균, 중앙값, 최빈값

In [10]:
df.fillna(0)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      0.0       Yes
5   France  35.0  58000.0       Yes
6    Spain   0.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [11]:
df['Age'].mean()

np.float64(38.77777777777778)

In [12]:
df.mean(numeric_only=True)

Age          38.777778
Salary    63777.777778
dtype: float64

In [13]:
# 숫자 칼럼의 평균값으로 결측치 채우기
df.fillna(df.mean(numeric_only=True))

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

In [14]:
# nan을 삭제하고 df에 저장
df = df.dropna()
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
5   France  35.0  58000.0       Yes
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [15]:
# index 초기화(reset) 하기
df = df.reset_index(drop=True)
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4   France  35.0  58000.0       Yes
5   France  48.0  79000.0       Yes
6  Germany  50.0  83000.0        No
7   France  37.0  67000.0       Yes

# x, y 데이터를 분리(분할)
- x : 독립변수(Feature)
- y : 종속변수(target, label)

In [16]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4   France  35.0  58000.0       Yes
5   France  48.0  79000.0       Yes
6  Germany  50.0  83000.0        No
7   France  37.0  67000.0       Yes

In [17]:
# 우리가 예측하고자 하는것 y
y = df['Purchased']
y

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
Name: Purchased, dtype: object

In [18]:
# x 칼럼 (Country Age Salar)
x = df.iloc[:,:-1]
x

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4   France  35.0  58000.0
5   France  48.0  79000.0
6  Germany  50.0  83000.0
7   France  37.0  67000.0

In [19]:
df['Country'].value_counts()

Country
France     4
Spain      2
Germany    2
Name: count, dtype: int64

# 레이블 인코딩, One Hot Encoding
- 범주형(문자) 데이터를 숫자로 변환
- 레이블 인코딩 : 문자열 -> 0, 1, 2
- One Hot Encoding : 데이터가 완전 독립적일때 사용

## 레이블 인코딩하는 방법

In [20]:
# 라이브러리 로딩
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [21]:
# 객체 생성
encoder = LabelEncoder()
encoder

LabelEncoder()

In [22]:
x['Country']

0     France
1      Spain
2    Germany
3      Spain
4     France
5     France
6    Germany
7     France
Name: Country, dtype: object

In [23]:
x['Country'] = encoder.fit_transform(x['Country'])

In [24]:
x

   Country   Age   Salary
0        0  44.0  72000.0
1        2  27.0  48000.0
2        1  30.0  54000.0
3        2  38.0  61000.0
4        0  35.0  58000.0
5        0  48.0  79000.0
6        1  50.0  83000.0
7        0  37.0  67000.0

## 원핫인코딩 하는 방법

In [25]:
from sklearn.compose import ColumnTransformer

In [26]:
# 객체 생성
# ct = ColumnTransformer([('encoder', OneHotEncoder(), [칼럼인덱스1, 칼럼인덱스2])])
ct = ColumnTransformer([('encoder', OneHotEncoder(), [0])])

In [27]:
x['Country']

0    0
1    2
2    1
3    2
4    0
5    0
6    1
7    0
Name: Country, dtype: int64

In [28]:
# 변환(원핫인코딩으로)
ct.fit_transform(x)

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [29]:
# France, Germany, Spain
# [1.,    0.,     0.]  
# [0.,    0.,     1.]
# [0.,    1.,     0.]
# [0.,    0.,     1.]
# [1.,    0.,     0.]
# [1.,    0.,     0.]
# [0.,    1.,     0.]
# [1.,    0.,     0.]

In [30]:
x.head()

   Country   Age   Salary
0        0  44.0  72000.0
1        2  27.0  48000.0
2        1  30.0  54000.0
3        2  38.0  61000.0
4        0  35.0  58000.0

In [31]:
# 머신러닝을 위한 one hot 인코딩 전체 코드
ct = ColumnTransformer([('encoder', OneHotEncoder(), [0])], remainder='passthrough')
x = ct.fit_transform(x)

## y 데이터 인코딩

In [32]:
y.value_counts()

Purchased
No     4
Yes    4
Name: count, dtype: int64

In [33]:
y = y.map({'No':0, 'Yes':1})
y

0    0
1    1
2    0
3    0
4    1
5    1
6    0
7    1
Name: Purchased, dtype: int64

In [34]:
x[:5]

array([[1.0e+00, 0.0e+00, 0.0e+00, 4.4e+01, 7.2e+04],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.7e+01, 4.8e+04],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.0e+01, 5.4e+04],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.8e+01, 6.1e+04],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.5e+01, 5.8e+04]])

In [35]:
# x, y 인코딩이 끝났으면 Feature Scaling(특성 스케일링) 진행

# 피처스케일링

In [36]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [37]:
# 표준화(평균 0, 표준편차 1인 분포를 따르는 범위 데이터로 변환)
# 객체 생성
scaler = StandardScaler()

# 변환 (독립변수만)
x_scaled = scaler.fit_transform(x)

In [38]:
# 정규화(0~1 사이의 범위 데이터로 변환)  이상치에 약하다
# scaler = MinMaxScaler()
# scaler.fit_transform(x)

In [39]:
# 데이터 전처리한 것들
# 1.결측치처리
# 2. x, y 데이터 분리
# 3. x, y 인코딩(문자들 -> 숫자) : ML은 숫자를 입력 가능
# 4. Feature Scaling(특성 스케일링) : 데이터의 수준을 맞추기 위함, 독립변수만 실행

# train, test 데이터 분할하기

In [40]:
x_scaled

array([[ 1.        , -0.57735027, -0.57735027,  0.69985807,  0.58989097],
       [-1.        , -0.57735027,  1.73205081, -1.51364653, -1.50749915],
       [-1.        ,  1.73205081, -0.57735027, -1.12302807, -0.98315162],
       [-1.        , -0.57735027,  1.73205081, -0.08137885, -0.37141284],
       [ 1.        , -0.57735027, -0.57735027, -0.47199731, -0.6335866 ],
       [ 1.        , -0.57735027, -0.57735027,  1.22068269,  1.20162976],
       [-1.        ,  1.73205081, -0.57735027,  1.48109499,  1.55119478],
       [ 1.        , -0.57735027, -0.57735027, -0.211585  ,  0.1529347 ]])

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
# train:test -> 8:2 디폴트값은 0.25
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=42)

In [43]:
x_train.shape, y_train.shape

((6, 5), (6,))

In [44]:
x_test.shape, y_test.shape

((2, 5), (2,))

# 자동차 판매 예측

In [50]:
df = pd.read_csv('datas_ml/cars.csv')
df.shape

(300, 11)

In [46]:
df.isna().sum()

Brand             0
Model             0
Year             15
Mileage          20
EngineSize        0
FuelType          0
Color            10
Region            8
ConditionDesc    25
SellerType        0
Price             0
dtype: int64

In [48]:
df_clean = df.dropna().copy()
df_clean.head()

,Brand,Model,Year,Mileage,EngineSize,FuelType,Color,Region,ConditionDesc,SellerType,Price
0,Ford,Escape,2001.0,287486.0,4.800248,Diesel,Black,Daejeon,like new,Dealer,580
2,Mercedes,E-Class,2023.0,106081.0,3.293752,Gasoline,Red,Incheon,engine issue,Dealer,2226
6,Ford,Explorer,2023.0,22671.0,2.314658,EV,Black,Daegu,regular maintenance done,Private,2058
8,Mercedes,E-Class,2001.0,51663.0,4.009498,Diesel,Gray,Daejeon,dashboard damage,Private,1371
9,BMW,X5,2020.0,15708.0,4.166316,Hybrid,Black,Busan,noise in suspension,Private,2342

In [49]:
df_clean.shape

(227, 11)

In [56]:
# 종속 변수
y = df_clean['Price']
y

0       580
2      2226
6      2058
8      1371
9      2342
       ...
295    1166
296    1045
297    1265
298    1947
299    1489
Name: Price, Length: 227, dtype: int64

In [54]:
# 독립 변수
X = df_clean.drop('Price', axis=1)
X

,Brand,Model,Year,Mileage,EngineSize,FuelType,Color,Region,ConditionDesc,SellerType
0,Ford,Escape,2001.0,287486.0,4.800248,Diesel,Black,Daejeon,like new,Dealer
2,Mercedes,E-Class,2023.0,106081.0,3.293752,Gasoline,Red,Incheon,engine issue,Dealer
6,Ford,Explorer,2023.0,22671.0,2.314658,EV,Black,Daegu,regular maintenance done,Private
8,Mercedes,E-Class,2001.0,51663.0,4.009498,Diesel,Gray,Daejeon,dashboard damage,Private
9,BMW,X5,2020.0,15708.0,4.166316,Hybrid,Black,Busan,noise in suspension,Private
...,...,...,...,...,...,...,...,...,...,...
295,Ford,Focus,2017.0,178352.0,2.289415,Diesel,Black,Daegu,slight dent,Private
296,Kia,Sorento,2005.0,79459.0,4.239498,Hybrid,Black,Busan,needs painting,Dealer
297,Hyundai,Tucson,2018.0,195004.0,2.018563,Gasoline,Gray,Seoul,no major problems,Dealer
298,Mercedes,C-Class,2021.0,200968.0,3.726011,Gasoline,Black,Busan,no major problems,Dealer
299,Ford,Escape,2011.0,59163.0,4.040911,Gasoline,Red,Incheon,engine issue,Private

# 문자열 데이터 처리

In [59]:
# 컬럼 삭제 (너무 다양)
X = X.drop('ConditionDesc', axis=1)
X

,Brand,Model,Year,Mileage,EngineSize,FuelType,Color,Region,SellerType
0,Ford,Escape,2001.0,287486.0,4.800248,Diesel,Black,Daejeon,Dealer
2,Mercedes,E-Class,2023.0,106081.0,3.293752,Gasoline,Red,Incheon,Dealer
6,Ford,Explorer,2023.0,22671.0,2.314658,EV,Black,Daegu,Private
8,Mercedes,E-Class,2001.0,51663.0,4.009498,Diesel,Gray,Daejeon,Private
9,BMW,X5,2020.0,15708.0,4.166316,Hybrid,Black,Busan,Private
...,...,...,...,...,...,...,...,...,...
295,Ford,Focus,2017.0,178352.0,2.289415,Diesel,Black,Daegu,Private
296,Kia,Sorento,2005.0,79459.0,4.239498,Hybrid,Black,Busan,Dealer
297,Hyundai,Tucson,2018.0,195004.0,2.018563,Gasoline,Gray,Seoul,Dealer
298,Mercedes,C-Class,2021.0,200968.0,3.726011,Gasoline,Black,Busan,Dealer
299,Ford,Escape,2011.0,59163.0,4.040911,Gasoline,Red,Incheon,Private

In [61]:
# X 문자열 컬럼 2개인지, 3개 이상인지 확인
print(f"{X['Brand'].nunique()}")
print(f"{X['Model'].nunique()}")
print(f"{X['FuelType'].nunique()}")
print(f"{X['Color'].nunique()}")
print(f"{X['Region'].nunique()}")
print(f"{X['SellerType'].nunique()}")

5
20
4
6
5
2

- 컬럼 범주 데이터에서 범주의 갯수가 많을 경우
- 컬럼 30개 있는데, 메모리 좀 더 큰것을 해야할 것 같다.

# 인코딩할 칼럼 구분
- 레이블 인코딩 할 칼럼
- 원한 인코딩할 칼럼
- 숫자 데이터 -> 피처스케일링 해야함

In [62]:
X.head()

,Brand,Model,Year,Mileage,EngineSize,FuelType,Color,Region,SellerType
0,Ford,Escape,2001.0,287486.0,4.800248,Diesel,Black,Daejeon,Dealer
2,Mercedes,E-Class,2023.0,106081.0,3.293752,Gasoline,Red,Incheon,Dealer
6,Ford,Explorer,2023.0,22671.0,2.314658,EV,Black,Daegu,Private
8,Mercedes,E-Class,2001.0,51663.0,4.009498,Diesel,Gray,Daejeon,Private
9,BMW,X5,2020.0,15708.0,4.166316,Hybrid,Black,Busan,Private

In [63]:
X.columns

Index(['Brand', 'Model', 'Year', 'Mileage', 'EngineSize', 'FuelType', 'Color',
       'Region', 'SellerType'],
      dtype='object')

# 현업방법 - 데이터 전처리

In [64]:
label_cols = ['SellerType']
onehot_cols = ['Brand', 'Model', 'FuelType', 'Color', 'Region']
numeric_cols = [ 'Year', 'Mileage', 'EngineSize']

In [65]:
from sklearn.preprocessing import OrdinalEncoder

In [66]:
ct = ColumnTransformer([ ('label', OrdinalEncoder(), label_cols),
                   ('onehot', OneHotEncoder(), onehot_cols),
                   ('scaler', StandardScaler(), numeric_cols) ] )
ct

ColumnTransformer(transformers=[('label', OrdinalEncoder(), ['SellerType']),
                                ('onehot', OneHotEncoder(),
                                 ['Brand', 'Model', 'FuelType', 'Color',
                                  'Region']),
                                ('scaler', StandardScaler(),
                                 ['Year', 'Mileage', 'EngineSize'])])

In [67]:
# sparse matrix로 표현
print(ct.fit_transform(X))

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 1917 stored elements and shape (227, 44)>
  Coords	Values
  (0, 2)	1.0
  (0, 11)	1.0
  (0, 26)	1.0
  (0, 30)	1.0
  (0, 38)	1.0
  (0, 41)	-0.9249768106545554
  (0, 42)	1.7880660195193743
  (0, 43)	1.5429197838977786
  (1, 5)	1.0
  (1, 10)	1.0
  (1, 28)	1.0
  (1, 33)	1.0
  (1, 39)	1.0
  (1, 41)	1.4354392304332764
  (1, 42)	-0.3546402183717234
  (1, 43)	0.2937526938363846
  (2, 0)	1.0
  (2, 2)	1.0
  (2, 12)	1.0
  (2, 27)	1.0
  (2, 30)	1.0
  (2, 37)	1.0
  (2, 41)	1.4354392304332764
  (2, 42)	-1.3398563221312474
  (2, 43)	-0.5180987553925732
  :	:
  (224, 3)	1.0
  (224, 23)	1.0
  (224, 28)	1.0
  (224, 32)	1.0
  (224, 40)	1.0
  (224, 41)	0.8989810392769509
  (224, 42)	0.6956939333439961
  (224, 43)	-0.7636173326615148
  (225, 5)	1.0
  (225, 9)	1.0
  (225, 28)	1.0
  (225, 30)	1.0
  (225, 36)	1.0
  (225, 41)	1.2208559539707462
  (225, 42)	0.7661390699321965
  (225, 43)	0.6521764959891053
  (226, 0)	1.0
  (226, 2)	1.0
  (226, 11)	1.0
  (226, 28)	1.0
  (226, 33)	1.0
  (226, 39)	1.0
  (226, 41)	0.14793957165809538
  (226, 42)	-0.9088228002706485
  (226, 43)	0.9132879241608084